[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = {version="*"}
paho_mqtt = {version="*"}
pyserial = {version="*"}
requests = {version="*"}
pysimplegui = {version="*"}
jsonschema = {version="*"}

[dev-packages]

[requires]
python_version = "3.9"
