[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = { version = "*" }
flask-cors = { version = "*" }
paho_mqtt = { version = "*" }
pyserial = { version = "*" }
requests = { version = "*" }
pysimplegui = { version = "*" }
jsonschema = { version = "*" }
pytest = { version = "*" }
coverage = { version = "*" }
pytest-cov = { version = "*" }
pytest-dotenv = { version = "*" }
werkzeug = { version = "*" }
python-dotenv = { version = "*" }
homekit = { version = "0.19.0" }
zeroconf = "==0.28.7"
denonavr = { version = "*" }
numpy = { version = "*" }

[dev-packages]

[requires]
python_version = "3.9"
